.nav {
	list-style: none;
}
.nav--inline {
	margin-left: -$spacing;
	@extend .clearfix;
	li {
		display: block;
		padding-left: $spacing;
		@media only screen and (min-width : $mq-large) {
			float: left;
		}
	}
}