.pagination {
	padding-top: $spacing;
	text-align: center;
	position: relative;
	font-variant: small-caps;
}
.newer-posts, .older-posts {
	position: absolute;
}
.newer-posts {
	left: 0;
}
.older-posts {
	right: 0;
}