{{!< default}}

<main role="main" class="container container--small">

  <article class="post">
  {{#post}}

    <header class="post__header">
      <h1 class="post__title">{{title}}</h1>
    </header>

    <section class="post__body">
      {{content}}
    </section>

  {{/post}}
  </article>

</main>