{{!< default}}

<div class="container">
    <header class="header">
    	<h1 class="header__tag">Tag: {{tag.name}}</h1>
	</header>
</div>

<main class="posts container" role="main">
    {{> "loop"}}
</main>