@import "settings/variables";
@import "settings/imports";
@import "settings/mixins";

@import "vendor/normalize";

@import "base/typography";

@import "components/media";
@import "components/nav";
@import "components/pagination";
@import "components/header";

@import "layouts/post";

@import "base/helpers";

* {
	box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
.container--small {
  max-width: 720px;
}

time {
	font-variant: small-caps;
	letter-spacing: 0.1rem;
}

.meta li {
	margin-bottom: $spacing/2;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	line-height: 1.2rem;
}

.meta__title {
	font-size: 0.6rem;
	color: lighten($color-text, 30%);
}
.meta__data {
	display: block;
	font-size: 0.7rem;
}

.footer {
	margin-top: $spacing;
	border-top: 1px solid $color-seporator;
	padding: $spacing 0;
	font-size: 0.9rem;
	font-variant: small-caps;
	letter-spacing: 0.1rem;
}
.footer__copyright {
	@media only screen and (min-width : $mq-large) {
		float: left;
	}
}
.footer__ghost {
	@media only screen and (min-width : $mq-large) {
		float: right;
	}
}