.posts .post:first-child {
  .post--item__main, .post__meta {
    border-top: 0;
  }
}

.post {
  position: relative;
  img {
    max-width: 100%;
  }
}
.post--item {
  padding-bottom: $spacing;

  @media only screen and (min-width : $mq-large) {
    padding-left: $spacing*11;
    min-height: $spacing*9;
  }
  p {
    margin: 0;
  }
}

.post--item__main {
  border-top: 1px solid $color-seporator;
  padding-top: $spacing;
}

.post__title {
  border-bottom: 1px solid $color-seporator;
  padding-bottom: $spacing;
  margin-bottom: 0;
  margin-top: $spacing*2;

  .post--item & {
    border: 0;
    margin: 0;
    padding-bottom: $spacing/2;
  }
}

.post__meta {
  border-bottom: 1px solid $color-seporator;
  padding: $spacing/2 0;
  margin-bottom: $spacing;

  .post--item & {
    margin: 0;
    border: 0;
    @media only screen and (min-width : $mq-large) {
      position: absolute;
      left: 0;
      top: 0;
      border-top: 1px solid $color-seporator;
      padding: $spacing 0 0 0;
      width: $spacing*9;
    }
  }

  &.nav--inline {
    padding: 0;
  }
}

.post__body {
  > p:first-of-type {
    font-size: 1.5rem;
    line-height: 2.6rem;
  }
}